{% load static %}

<footer class="bg-dark text-light mt-5 pt-4 pb-4">
  <div class="container-fluid px-5">
    <div class="row text-center text-md-start">
      
      <div class="col-md-4 mb-3">
        <p class="mt-5">
        Disfruta de nuestros helados artesanales, 
        acompañados de deliciosa pastelería de vitrina, café, 
        té, jugos naturales y promociones especiales. ¡Endulza tu día con Secreto Helado!
        </p>
      </div>

      <div class="col-md-4 mb-3">
        <h5 class="mb-3">Contacto</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <img src="{% static 'images/representante.png' %}" alt="Email" style="width:20px; height:20px;" class="me-2">
            Representante Legal: Andrés Moraga Illanes
          </li>
          <li class="mb-2">
            <img src="{% static 'images/email.png' %}" alt="Email" style="width:20px; height:20px;" class="me-2">
            Email: amoragaillanes@gmail.com
          </li>
          <li class="mb-2">
            <img src="{% static 'images/telefono.png' %}" alt="Teléfono" style="width:20px; height:20px;" class="me-2">
            Teléfono: +56 9 5381 6552
          </li>
          <li class="mb-2">
            <img src="{% static 'images/direccion.png' %}" alt="Dirección" style="width:20px; height:20px;" class="me-2">
            Dirección: Av. Gabriel González Videla 2777, La Serena, Chile
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
          <h5 class="mb-3">Síguenos</h5>
          <a href="http://instagram.com/secretohelado" class="text-light me-3 text-decoration-none">
            <img src="{% static 'images/instagram.png' %}" alt="Instagram" style="width:20px; height:20px;" class="me-1">
            Instagram
          </a>
      </div>
    </div>

    <hr class="bg-light">

    <div class="text-center">
      <p class="mb-0">&copy; 2025 Secreto Helado. Desarrollado por Valker & Nicolás.</p>
    </div>
  </div>
</footer>
